services:
  db:
    image: "postgres:15-alpine"  # alpine легче
    container_name: postgres
    environment:
      POSTGRES_DB: holding_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Именованный volume вместо ./pgdata

  redis:
    image: redis:alpine
    container_name: redis
    command: redis-server --requirepass session
    ports:
      - "6379:6379"

volumes:
  postgres_data:  # Определение volume